.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: {
    direction: column;
  }
  justify-content: start;
  align-items: center;

  .todo-container {
    min-width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    -webkit-box-shadow: -2px -4px 16px -2px rgba(0, 0, 0, 0.53);
    box-shadow: -2px -4px 16px -2px rgba(0, 0, 0, 0.53);

    .example-form {
      min-width: 150px;
      max-width: 300px;
      width: 100%;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .example-full-width {
      width: 100%;
    }

    .table-group {
      width: 500px;

      .name-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

.not-Completed {
  text-decoration: line-through;
}
